<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="static/css/aboutus.css">
</head>
<body>
    <div class="about">
        <div class="inner-section">
            <h1>About Us</h1>
            <p class="text">
                At ExecutionXplore, we are a pioneering new company on a mission to revolutionize the way execution statistics are analyzed and visualized. As a team of passionate data scientists, engineers, and experts, we have come together to create a powerful platform that provides unparalleled insights into the world of executions..
            </p>
            <div class="skills">
                <button>Contact Us</button>
            </div>
        </div>
    </div>
</body>
</html>