<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Executions Line Graph</title>
    <!-- Include Plotly.js and D3.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="/">ExecutionXplore</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" aria-current="page" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link active" href="/about_us">About Us</a></li>
                <li class="nav-item"><a class="nav-link" href="/plots">Visuals</a></li>
                <li class="nav-item"><a class="nav-link" href="/map">Map</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Page Content-->
<div id = test class="container px-4 px-lg-5">
  <!-- Create a container for the graph -->
  <select id="selDataset">
    <option value="Total">Total</option>
    <option value="Method">Method</option>
    <option value="Race">Race</option>
    <option value="Sex">Sex</option>
  </select>
  <div id="lineplot" class="js-plotly-plot"></div>
  <div id="bargraph" class="js-plotly-plot"></div>
  <div id="piechart" class="js-plotly-plot"></div>
  <script src="static/js/viewplots.js"></script>
</body>
</html>