<div class="about-section">
    <h1>About Us Page</h1>
    <p>We are Group 3.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/w3images/team1.jpg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>John Banowsky</h2>
          <p class="title">Teacher</p>
          <p>From the classroom to data science.</p>
          <p>john@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/w3images/team2.jpg" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Daniel D Hall</h2>
          <p class="title">Gamer</p>
          <p>Dominating video games and power points.</p>
          <p>daniel@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/w3images/team3.jpg" alt="John" style="width:100%">
        <div class="container">
          <h2>Alex Perez</h2>
          <p class="title">Analyst</p>
          <p>I love lamp.</p>
          <p>alex@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>