body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: #e6caa3;
    text-align: var(--bs-body-text-align);
    background-color: #000000e0 !important;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
 

  #piechart {
    background-color: #e6caa3 !important;
  }
  .main-svg {
     background-color: transparent !important;
  }

  #bargraph {
    background-color: #e6caa3 !important;
  }
  .main-svg {
     background-color: transparent !important;
  }

  #lineplot {
    background-color: #e6caa3 !important;
  }
  .main-svg {
     background-color: transparent !important;
  }